.about-us:before {
  background: url(../img/über_mich.jpeg) center center no-repeat $purple-secondary;
  background-size: 50% auto; /* Adjust percentage as needed */
}
.about-us.active:before {
  @include animate(.8s);
  @extend .fade-in-left;
  animation-delay: .5s;
}
