// Banner
.banner {
  background: url(../img/banner_feet_small.jpg) 10% 10% no-repeat $black;
  background-size: cover;
  color: $white;
  position: relative;
  &:after, &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  &:before {
    z-index: 10;
    background: $white;
    @include animate(1s);
    @extend .reveal-from-left;
    animation-delay: 0.2s;
  }
  &:after {
    z-index: 2;
    @include background-rgba($black, .5);
    @include breakpoint(m) {
      @include background-rgba($black, .1);
    }
  }
}
.banner-inner {
  position: relative;
  z-index: 100;
}

.banner-heading {
  font-family: "Karla Bold", sans-serif;
  color: $white;
}

.banner-heading-text-1 {
  @include animate(.5s);
  @extend .fade-in;
  animation-delay: 0.8s;
}
.banner-heading-text-2 {
  @include animate(.5s);
  @extend .fade-in;
  animation-delay: 1.0s;
}
.banner-text-1 {
  @include animate(.8s);
  @extend .fade-in;
  animation-delay: 1.2s;
}
.banner-button-1 {
  @include animate(.8s);
  @extend .fade-in;
  animation-delay: 1.4s;
}
