.our-story:before {
  background: url(../img/our-story.jpg) 50% 50% no-repeat $purple-secondary;
  background-size: cover;
}

.our-story.active:before {
  @include animate(.8s);
  @extend .fade-in-right;
  animation-delay: 0.5s;
}