// Website Variable Overrides
$base-font-family: "Karla", sans-serif;
$base-heading-font-family: "Karla", sans-serif;
$base-font-size: 16px;
$base-line-height: 26px;
$base-font-color: #676767;
$base-h1-font-size: 64px;
$base-h1-line-height: 70px;
$base-h2-font-size: 32px;
$base-h2-line-height: 42px;
$base-h3-font-size: 26px;
$base-h3-line-height: 36px;
$base-h4-font-size: 18px;
$base-h4-line-height: 28px;

// Website Colours
$black: #000;
$white: #fff;
$purple-primary: #9e1950;
$purple-secondary: #8a566c;
$cream: #f7ece2;
$dark-grey: #343434;
$grey: #545454;
$light-grey: #999;
$lightest-purple: #fff2ff;